<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/sign.css">
    <link rel="stylesheet" href="/styles/logo.css">
    <link rel="stylesheet" href="/styles/modal.css">
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/0a4bfb7071.js" crossorigin="anonymous"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>