.profile-main {
    display: flex;
    gap: 5rem;
    padding: 2rem;
    justify-content: center;
    
}

.profile-main .left-section .profile-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.avatar {
    position: relative;
}
.avatar:hover::after {
    display: block;
}
.avatar::after {
    content: "change your avatar";
    background-color: var(--secondary);
    color: var(--accent);
    border: 2px solid var(--primary);
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50%;
    padding: 5px 8px;
    white-space: nowrap;
    display: none;
}

.left-section .username {
    font-size: 1.5rem;
    font-weight: 700;
}

.left-section {
    display: flex;
    flex-direction: column;
}
.left-section .extra-info {
    font-size: 14px;
    color: var(--primary);

}
.action-button {
    text-decoration: none;
    color: var(--text);
    border: 2px solid var(--secondary);
    background-color: var(--background);
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    text-align: center;
    transition: 150ms ease-in-out;
    cursor: pointer;

    font-weight: 500;
}
.action-button:hover {
  color: var(--accent);
  background: var(--secondary);
}
.description-section {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    background-color: var(--background);
    border: 2px solid var(--secondary);
    border-radius: 6px;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
    min-width: 325px;
}
.description-section md-block{
    font-size: 12px;
    position: relative;
    left: 1.5rem;
}
.description-section .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.description-section .top-row a {
    font-size: 1rem;
    color: var(--text);
}
.profile-main h2 {
    margin-bottom: .5rem;
    text-align: start;
    font-size: 1.25rem;
}
.post-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .1rem;
}

.left-section #image-popup-open-btn {
    border: none;
    background: none;
    cursor: pointer;
}