*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.5;
  min-height: 100vh;
}

:root {
  --text: white;
  --background: #222629;
  --background2: #171a1c;
  --primary: #6b6e70;
  --secondary: #474b4f;
  --accent: #86c232;
  --accent2: #61892f;
}

.fs-3 {
  font-size: 3rem;
}

.fs-15 {
  font-size: 1.5rem;
}